$main-breakpoint: '1120px';

h1 {
  font-family: 'adobe-handwriting-ernie', 'Helvetica-Neue', sans-serif;
  font-size: 28px;
  line-height: 1.5;

  @include min-width($main-breakpoint) {
    font-size: 38px;
  }
}

h2,
h3,
h4,
h5,
h6,
p,
li,
span,
a,
button {
  font-family: 'neue-haas-grotesk-display', 'Helvetica-Neue', sans-serif;
  font-size: 18px;
  line-height: 1;

  @include min-width ($main-breakpoint) {
    font-size: 24px;
  }
}
