.nanogallery_gallerytheme_dark_gallery {
  .nGY2Navigationbar {
    .nGY2NavigationbarItem {
      @apply capitalize transition-all duration-300 border-b border-white border-solid;
      font-family: "neue-haas-grotesk-display", "Helvetica-Neue", sans-serif;
      letter-spacing: 2px;
      background-color: transparent !important;
      border-radius: 0 !important;

      &.nGY2NavFilterSelected {
        @apply border-white;
      }

      &.nGY2NavFilterUnselected {
        @apply border-transparent;
      }

      &:not(.nGY2NavFilterSelectAll) {
        i {
          @apply hidden;
        }
      }

      &.nGY2NavFilterSelectAll {
        .nGY2Icon-toggle-on {
          font-family: "neue-haas-grotesk-display", "Helvetica-Neue", sans-serif;
          letter-spacing: 2px;

          &::before {
            content: 'All';
          }
        }
      }
    }
  }
}
